In [37]:
import sys
sys.path.append('f:/Project/PcAnalyse/')

from datetime import datetime
from datetime import timedelta
from datetime import date
import numpy as np
import pandas as pd
import StockDataLoad as sdl
import StockKlineSharp as sks
import StockPredict as sp

%matplotlib

%load_ext autoreload
%autoreload 2

Using matplotlib backend: Qt5Agg
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [14]:
stock = sdl.load_path2dict(path='d:/export', start_date='2018/01/01', data_action=sks.kline_sharp_action_ma)
# stock = sdl.load_path2dict(path='d:/export-small', start_date='2018/01/01')

In [52]:
sp.predict_range(stock, [sp.predict_kline_sharp_action], '2018/08/30', '2018/12/30', sp.predict_result_show_graph)

In [57]:
stock['600069'].head()

,open,high,low,close,volume,transation,ma5,ma10,ma20,v_ma5,...,volume_pc,ma5_pc,ma10_pc,ma20_pc,v_ma5_pc,v_ma10_pc,v_ma20_pc,rise_pc,amplitude,oc_pc
date,,,,,,,,,,,,,,,,,,,,,
2018-01-02,6.53,6.54,6.48,6.51,3747361,31706488.0,6.526,6.525,6.5595,4519971.6,...,-0.010790,-0.000306,-0.000613,-0.002054,-0.123978,0.012844,-0.072004,-0.001534,0.009259,0.333333
2018-01-03,6.50,6.55,6.48,6.52,3631402,30763224.0,6.526,6.522,6.5550,4158809.8,...,-0.030944,0.000000,-0.000460,-0.000686,-0.079904,0.001481,-0.074864,-0.001531,0.010802,0.285714
2018-01-04,6.50,6.75,6.50,6.56,12477486,107286272.0,6.534,6.527,6.5525,5703757.2,...,2.435997,0.001226,0.000767,-0.000381,0.371488,0.058271,0.053668,0.009231,0.038462,0.240000
2018-01-05,6.46,6.55,6.46,6.52,4655600,39441296.0,6.528,6.527,6.5485,5660017.0,...,-0.626880,-0.000918,0.000000,-0.000610,-0.007669,-0.059837,-0.003130,0.003077,0.013932,0.666667
2018-01-08,6.53,6.54,6.48,6.52,4945710,41778644.0,6.526,6.527,6.5435,5891511.8,...,0.062314,-0.000306,0.000000,-0.000764,0.040900,-0.053798,0.002358,0.009288,0.009259,0.166667

In [53]:
for c,v in stock.items():
    if len(v) == 0:
        continue

    date = datetime.strptime('2018/01/02', '%Y/%m/%d')
    print(date)
    one = v[date:date]
    o = one['open'].values[0]
    print(o)

2018-01-02 00:00:00
8.49
2018-01-02 00:00:00
7.65
2018-01-02 00:00:00
14.02
2018-01-02 00:00:00
20.77

In [13]:
ds = '2018/01/02'.split('/')
# ds
d = date(int(ds[0]), int(ds[1]), int(ds[2]))
d

datetime.date(2018, 1, 2)

In [4]:
d

datetime.date(2019, 1, 1)